# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Build / coverage
dist/
build/
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Android
*.iml
.gradle/
.kotlin/
local.properties
/captures
.externalNativeBuild
.cxx
debug.keystore